<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
  </head>

  <body>
    <h1>Welcome to CollabTrack, <%= email %>! </h1>
    <p> You are logged in successfully.</p>

    <a href = "/login">Log out</a>
  </body>
</html>